# Исключение библиотек и скомпилированных файлов
node_modules/**/* linguist-vendored
vendor/**/* linguist-vendored
dist/**/* linguist-vendored

# Указать язык для шаблонов
*.blade.php linguist-language=HTML
*.tpl linguist-language=PHP

# Исключение минифицированных файлов
*.min.js linguist-generated
*.min.css linguist-generated
