assets/css/* linguist-vendored
assets/img/* linguist-vendored
assets/fonts/* linguist-vendored
vendor/functions/* linguist-detectable
vendor/admin/* linguist-detectable
vendor/components/* linguist-detectable