assets/css/* linguist-vendored
assets/img/* linguist-vendored
assets/fonts/* linguist-vendored
vendor/functions/* linguist-language=PHP
vendor/admin/* linguist-language=PHP
vendor/components/* linguist-language=PHP