:root {
  --body-bg: #123;
  --nav-bg: #234;
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui;
}

body {
  margin: 0;
  font-size: 1.25rem;
  background: var(--body-bg);
  padding-inline-start: 13rem;
  color: white;
}

nav {
  background: var(--nav-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-block: 2rem;
}

.j_title {
  padding-inline-start: 5rem;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;
}

.products_block {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  margin-bottom: 40px;
}

.cls {
  display: grid;
  gap: 10px;
  justify-items: center;
}

form {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

input,
select,
.admin_button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select_old {
  grid-column: span 2; /* Расширить кнопку на две колонки */
}

.category_old {
  grid-column: span 2; /* Расширить кнопку на две колонки */
}

.admin_button {
  grid-column: span 2; /* Расширить кнопку на две колонки */
  background-color: #6f8a2b;
  color: white;
  cursor: pointer;
}

.admin_button:hover {
  background-color: #6b8823;
}

select {
  width: 100%;
}

.admin-navigation {
  color: white;
  display: block;
  text-decoration: none;
  border: none; /* Убираем границу кнопки */
  background: none; /* Убираем фон кнопки */
  padding: 0; /* Убираем внутренний отступ кнопки */
  cursor: pointer; /* Делаем курсор указателем для кнопки */
}

.nav-list li {
  padding-block: 1rem;
  padding-inline: 2rem;
  margin-inline: 1rem 0;
  box-shadow: 2px 0 0 var(--body-bg);
  transition: background-color 0.3s ease; /* Добавляем плавную анимацию для изменения фона */
}

.nav-list li.active {
  background: var(--body-bg);
  position: relative;
  z-index: -1;
  border-radius: 100vw 0 0 100vw;
}

.admin_content{
  display: none;
}