@font-face {
  font-family: Gotham-medium;
  src: url(/assets/fonts/Gotham/gothampronarrow_medium.ttf);
}
@font-face {
  font-family: Gotham-bold;
  src: url(/assets/fonts/Gotham/gothampronarrow_bold.ttf);
}
/* Код для body*/
body {
  background-color: #262c38;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* Нормализация отступов*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}