/* © Все права на код принадлежат Photolab, ИП Столяров */
/* Стили для шапки, шрифты и нормализация */
@font-face {
  font-family: Gotham-medium;
  src: url(/assets/fonts/Gotham/gothampronarrow_medium.ttf);
}
@font-face {
  font-family: Gotham-bold;
  src: url(/assets/fonts/Gotham/gothampronarrow_bold.ttf);
}
/* Код для body*/
body {
  background-color: #262c38;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* Нормализация отступов*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Кнопка прокрутки вверх */
.topButton {
  position: fixed;
  background-color: #2f355b;
  right: 20px;
  bottom: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 28px;
  color: white;
  z-index: 9999;
}

.topButton::before {
  content: "";
  width: 40px;
  height: 40px;
}

.topButton_hide {
  display: none;
}
@media (hover: hover) and (pointer: fine) {
  .topButton:hover {
    background-color: #6f81f0; /* цвет заднего фона при наведении */
  }
}
/* Общий компонент */
.content {
  width: 100%;
  display: grid;
  justify-content: center;
}
/* Код для шапки и контента внутри неё */
header {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #5e6380;
  align-items: center;
  z-index: 2;
}
.logo {
  width: 200px;
  height: 100px;
  margin-left: 40px;
}
.header_nav {
  left: 37%;
  position: absolute;
}
.header_nav ul {
  font-size: 27px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Стилизация элементов списка */
.header_nav li {
  display: inline-block;
  margin: 0 10px;
}
/* Стилизация ссылок */
.header_nav a {
  text-decoration: none;
  color: white;
  font-family: Gotham-medium;
}
/* Шапка под мобильные устройства */

.hamburger_nav {
  padding: 0;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  display: none;
}

.mobile_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile_nav li {
  margin-right: 20px;
}

.mobile_nav a {
  color: #fff;
  text-decoration: none;
}

.mobile_nav {
  display: flex;
  width: 100%;
  top: -200%;
  position: absolute;
  background-color: #5e6380;
  justify-content: center;
  align-items: center;
  font-family: Gotham-medium;
  transition: 1s;
}

.nav_bar__mobile li {
  text-align: center;
}

.mobile_nav.open {
  top: 100%;
}

.nav_bar__mobile {
  list-style-type: none;
  padding: 0;
}

.nav_element__mobile {
  margin-bottom: 10px;
}
/* Баннер под шапкой */
#banner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.banner_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
  max-width: 80%;
  background-color: #e8dbdb;
  padding: 60px;
}
.banner_text h1 {
  font-family: Gotham-Bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.banner_text p {
  font-family: Gotham-Medium;
  font-size: 18px;
}
.banner_image img {
  width: 300px;
  height: 360px;
  border-radius: 10px;
}
/* Код блока услуг */
#services {
  margin-top: 30px;
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 30px;
}
.services_title {
  font-family: Gotham-medium;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}
.services_nav__block {
  display: flex;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

.services_nav__block.open {
  display: grid;
  grid-template-rows: 1fr;
}
.address_nav__block.open {
  display: grid;
  grid-template-rows: 1fr;
}
.services_button {
  background-color: white;
  height: 48px;
  padding: 0 0.6rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.services_button .active {
  background-color: #6f8a2b;
  color: #fff;
}
.services_mobile__nav {
  padding: 0;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  display: block;
}
.services_category__block {
  display: none;
  padding: 10px;
  gap: 10px;
  align-items: center;
  font-family: Gotham-bold;
  color: white;
  background-color: #6f8a2b;
  width: 300px;
  justify-content: center;
  border-radius: 10px;
}
.address_nav__block {
  display: flex;
  justify-content: center;
  gap: 15px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  border-radius: 10px;
}
.address_content {
  display: flex;
  justify-content: center;
}
.address_button {
  background-color: white;
  height: 48px;
  padding: 0 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.addresses_category__block {
  display: none;
  padding: 10px;
  gap: 10px;
  align-items: center;
  font-family: Gotham-bold;
  color: white;
  background-color: #6f8a2b;
  width: 300px;
  justify-content: center;
  border-radius: 10px;
}
.addresses_mobile__nav {
  padding: 0;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  display: block;
}
.services_nav__block li {
  display: inline-block;
  gap: 10px;
}
.services_nav__block a {
  text-decoration: none;
  color: #ffffff;
}
.services_nav__block h1 {
  font-size: 40px;
  font-family: Gotham-bold;
}
.services_nav__block h2 {
  font-size: 18px;
  font-family: Gotham-bold;
}
h3 {
  margin: 0;
  padding: 0;
}
.product_card {
  width: 300px;
}
.product_card img {
  display: block;
  border-radius: 15px 15px 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product_card p {
  margin: 0;
  padding: 0;
}
.card__image {
  width: 100%;
  height: 217px;
  border-radius: 15px 15px 0px 0px;
}
.card__content {
  padding: 36px 45px 41px 45px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.card__content-title {
  font-family: Gotham-medium;
  font-size: 18px;
  font-weight: 800;
}
.card__content-description {
  margin-top: 10px;
  line-height: 22px;
}
.card__content_cost {
  margin-top: 5px;
}
.catalog-menu {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.menu-item {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: Merriweather;
  font-size: 14px;
}
.address_menu-item {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: Gotham-medium;
  font-size: 14px;
}
.active {
  background-color: #6f8a2b;
  color: #fff;
}
.active_adr {
  background-color: #6f8a2b;
  color: #fff;
}
#content {
  margin-top: 20px;
  padding: 20px;
}
.services_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
.card__image {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0px 0px;
}
.card__content {
  height: 70px;
  background-color: #e8dbdb;
  border-radius: 0 0 15px 15px;
  padding: 10px;
}
.card__content-title {
  font-family: Gotham-medium;
  font-size: 18px;
  font-weight: 800;
}
.card__content-description {
  margin-top: 10px;
  line-height: 22px;
}
/* Адреса */
#addresses {
  margin-top: 30px;
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 40px;
}
.addresses_title {
  font-family: Gotham-bold;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}
.addresses_content {
  display: flex;
  justify-content: center;
  display: none;
}
/* Подвал сайта */
#footer {
  display: flex;
  width: 100%;
  background-color: #5e6380;
  padding: 20px;
  margin-top: 50px;
}
.footer_content {
  display: flex;
  width: 100%;
  margin-right: 15%;
  justify-content: space-between;
}
.footer_content1 {
  font-family: Gotham-medium;
  font-size: 16px;
  color: #ffffff;
}
.footer_content1 h1 {
  font-size: 18px;
  font-family: Gotham-bold;
}
.footer_content1 ul {
  list-style-type: none;
}
.footer_content1 a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer_content1 li {
  margin-top: 7px;
}
.footer_content2 {
  font-family: Gotham-bold;
  font-size: 16px;
  color: #ffffff;
}
.footer_content2 h1 {
  font-size: 18px;
  font-family: Gotham-bold;
}
.footer_content2 ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.footer_content2 a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_content2 li {
  margin-right: 20px;
}
.copyright_block {
  font-family: Gotham-medium;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  right: 26px;
  margin-top: 100px;
}
iframe {
  border-radius: 20px;
}
/* Страница 404 */
.page404 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.main_404 {
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  max-width: 80%;
  background-color: #e8dbdb;
  padding: 60px;
  margin-top: 40px;
  width: 600px;
  height: 300px;
}
.title404 {
  font-family: Gotham-bold;
}
.error404 {
  font-family: Gotham-Medium;
}
.desc {
  font-family: Gotham-medium;
  font-size: 18px;
}
.homepage {
  font-size: 26px;
}
.home {
  background-color: #6f8a2b;
  height: 48px;
  padding: 0 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  text-decoration: none;
  color: black;
  font-family: Gotham-medium;
  font-size: 22px;
}
.home a {
  text-decoration: none;
  color: black;
}
.paws {
  position: absolute;
  bottom: 0;
  right: 0;
}
.paws img {
  width: 200px;
  height: 200px;
}
/* Страница "О нас" */
.about_main {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #e8dbdb;
  padding: 1vh;
  margin-top: 60px;
  width: 600px;
  height: 550px;
}
.about_main p {
  font-family: Gotham-medium;
}
.about_h1 {
  font-family: Gotham-bold;
  height: min-content;
}
/* Блок вопрос & ответ */
.qanda {
  margin-top: 10px;
}
.qanda h2 {
  font-family: Gotham-bold;
  text-align: center;
  margin-bottom: 20px;
}
.question {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
  padding: 20px;
  overflow: hidden;
  width: 480px;
  margin-bottom: 10px;
  transition: border-color 0.25s ease;
  background-color: #e8dbdb;
  font-family: Gotham-bold;
  cursor: pointer;
}
.answer {
  height: 0px;
  width: 480px;
  overflow: hidden;
  animation: normal;
  font-family: Gotham-medium;
  margin-bottom: 10px;
}
/* Адаптив */
@media screen and (max-width: 2400px) {
  .banner_content {
    grid-template-columns: 300px 400px;
  }
}
/* Для планшетов */
@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .logo {
    width: 180px;
    height: 80px;
    margin-left: 25px;
  }
  .banner_content {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  .header_nav {
    left: 29%;
  }
  .header_nav ul {
    font-size: 20px;
  }
  .nav_bar {
    font-size: 16px;
  }

  .banner_text h1 {
    font-size: 20px;
  }
  .banner_text p {
    font-size: 16px;
  }
  .banner_image img {
    width: 100%;
    height: auto;
  }
  .services_title {
    font-size: 35px;
  }
  .search_field input {
    width: 250px;
  }
  .services_content {
    grid-template-columns: 1fr 1fr;
  }
  .address_button {
    padding: 0 0.6rem;
    height: 34px;
  }
}
/* Для компьютеров */
@media only screen and (min-width: 1025px) {
  .header_nav {
    left: 34%;
  }
  .header_nav ul {
    font-size: 24px;
  }
  .banner_content {
    padding: 10px;
  }
  .banner_text h1 {
    font-size: 22px;
  }
  .banner_text p {
    font-size: 18px;
  }
  .banner_image img {
    width: 300px;
    height: 360px;
  }
  .services_title {
    font-size: 40px;
  }
  .search_field input {
    width: 300px;
  }
  .services_content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* Для телефонов */
@media only screen and (max-width: 749px) {
  .hamburger_nav {
    display: block;
    position: relative;
    margin-right: 30px;
  }
  header {
    justify-content: space-between;
  }
  .header_nav {
    display: none;
  }
  .logo {
    width: 150px;
  }
  .banner_content {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px; /* Уменьшаем отступы */
  }
  .banner_text h1 {
    font-size: 20px; /* Уменьшаем размер шрифта */
  }
  .banner_text p {
    font-size: 16px; /* Уменьшаем размер шрифта */
  }
  .banner_image img {
    width: 100%;
    height: auto;
  }
  .services_title {
    font-size: 30px; /* Уменьшаем размер шрифта */
  }
  .addresses_title {
    font-size: 30px;
  }
  .services_nav__block {
    display: none; /* Скрываю чтобы с помощью JS вызывать данное меню по кнопке */
  }
  .address_nav__block {
    display: none;
  }
  .services_category__block {
    display: flex;
  }
  .addresses_category__block {
    display: flex;
  }
  .services_content {
    grid-template-columns: 1fr 1fr;
  }
  iframe {
    width: 500px;
    height: 250px;
  }
}

@media only screen and (max-width: 656px) {
  .logo {
    height: 60px;
  }
  .banner_text p {
    font-size: 14px;
  }
  .banner_text h1 {
    font-size: 14px;
  }
  .product_card {
    width: 260px;
  }
  .card__image {
    height: 220px;
  }
}
@media screen and (max-width: 597px) {
  .banner_text p {
    font-size: 13px;
  }
  .product_card {
    width: 240px;
  }
  .card__image {
    height: 200px;
  }
}
@media screen and (max-width: 541px) {
  .address_button {
    padding: 0.4rem;
  }
  iframe {
    width: 400px;
    height: 200px;
  }
  .leaflet-popup-content-wrapper {
    max-height: 190px;
    width: 295px;
  }
  .banner_text p {
    font-size: 12px;
  }
  .product_card {
    width: 200px;
  }
  .card__image {
    height: 160px;
  }
}
@media screen and (max-width: 501px) {
  .banner_text p {
    font-size: 10px;
  }
  .product_card {
    width: 180px;
  }
  .card__image {
    height: 140px;
  }
}
@media screen and (max-width: 480px) {
}
