/* © Все права на код принадлежат Photolab, ИП Столяров */
/* Стили для шапки, шрифты и нормализация */
@font-face {
  font-family: Gotham-medium;
  src: url(/assets/fonts/Gotham/gothampronarrow_medium.ttf);
}
@font-face {
  font-family: Gotham-bold;
  src: url(/assets/fonts/Gotham/gothampronarrow_bold.ttf);
}
/* Код для body*/
body {
  background-color: #262c38;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* Нормализация отступов*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Код для шапки и контента внутри неё */
header {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #5e6380;
  align-items: center;
}
.logo {
  width: 200px;
  height: 100px;
  margin-left: 40px;
}
.header_nav {
  left: 37%;
  position: absolute;
}
.header_nav ul {
  font-size: 27px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Стилизация элементов списка */
.header_nav li {
  display: inline-block;
  margin: 0 10px;
}
/* Стилизация ссылок */
.header_nav a {
  text-decoration: none;
  color: white;
  font-family: Gotham-medium;
}
/* Баннер под шапкой */
#banner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.banner_content {
  display: grid;
  grid-template-columns: 300px 400px;
  gap: 30px;
  border-radius: 10px;
  max-width: 80%;
  background-color: #e8dbdb;
  padding: 60px;
}
.banner_text h1 {
  font-family: Gotham-Bold;
  font-size: 22px;
}
.banner_text p {
  font-family: Gotham-Medium;
  font-size: 18px;
}
.banner_image img {
  width: 300px;
  height: 360px;
  border-radius: 10px;
}
/* Код блока услуг */
#services {
  margin-top: 30px;
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 30px;
}
.services_title {
  font-family: Gotham-medium;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}
.services_nav__block {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}
.services_button {
  background-color: white;
  height: 48px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.address_nav__block {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.address_content {
  display: flex;
  justify-content: center;
}
.address_button {
  background-color: white;
  height: 48px;
  padding: 0 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.services_nav__block li {
  display: inline-block;
  gap: 10px;
}
.services_nav__block a {
  text-decoration: none;
  color: #ffffff;
}
.services_nav__block h1 {
  font-size: 40px;
  font-family: Gotham-bold;
}
services_nav__block h2 {
  font-size: 18px;
  font-family: Gotham-bold;
}
h3 {
  margin: 0;
  padding: 0;
}
.product_card {
  width: 300px;
}
.product_card img {
  display: block;
  border-radius: 15px 15px 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product_card p {
  margin: 0;
  padding: 0;
}
.card__image {
  width: 100%;
  height: 217px;
  border-radius: 15px 15px 0px 0px;
}
.card__content {
  padding: 36px 45px 41px 45px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.card__content-title {
  font-family: Gotham-medium;
  font-size: 18px;
  font-weight: 800;
}
.card__content-description {
  margin-top: 10px;
  line-height: 22px;
}
.card__content_cost {
  margin-top: 5px;
}
.catalog-menu {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.menu-item {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: Merriweather;
  font-size: 14px;
}
.address_menu-item {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: Gotham-medium;
  font-size: 14px;
}
.active {
  background-color: #6f8a2b;
  color: #fff;
}
.active_adr {
  background-color: #6f8a2b;
  color: #fff;
}
#content {
  margin-top: 20px;
  padding: 20px;
}
.services_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
.content {
  width: 330px;
}
.card__image {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0px 0px;
}
.card__content {
  height: 100px;
  background-color: #e8dbdb;
  border-radius: 0 0 15px 15px;
  padding: 10px;
}
.card__content-title {
  font-family: Gotham-medium;
  font-size: 18px;
  font-weight: 800;
}
.card__content-description {
  margin-top: 10px;
  line-height: 22px;
}
/* Адреса */
#addresses {
  margin-top: 30px;
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 40px;
}
.addresses_title {
  font-family: Gotham-bold;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}
.addresses_content {
  display: flex;
  justify-content: center;
  display: none;
}
/* Подвал сайта */
#footer {
  display: flex;
  width: 100%;
  background-color: #5e6380;
  margin-top: 30px;
  padding: 20px;
}
.footer_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
}
.footer_content1 {
  font-family: Gotham-medium;
  font-size: 16px;
  color: #ffffff;
}
.footer_content1 h1 {
  font-size: 18px;
  font-family: Gotham-bold;
}
.footer_content1 ul {
  list-style-type: none;
}
.footer_content1 a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer_content1 li {
  margin-top: 7px;
}
.footer_content2 {
  font-family: Gotham-bold;
  font-size: 16px;
  color: #ffffff;
}
.footer_content2 h1 {
  font-size: 18px;
  font-family: Gotham-bold;
}
.footer_content2 ul {
  list-style-type: none;
}
.footer_content2 a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer_content2 li {
  margin-top: 7px;
}
.footer_content3 {
  font-family: Gotham-medium;
  font-size: 16px;
  color: #ffffff;
}
.footer_content3 h1 {
  font-size: 18px;
  font-family: Gotham-bold;
  margin-bottom: 10px;
}
.footer_content3 a {
  text-decoration: none;
  color: #ffffff;
}
.copyright_block {
  font-family: Gotham-medium;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  right: 26px;
  margin-top: 100px;
}
iframe {
  border-radius: 20px;
}
/* Всплывающее окно */
/* transition */
.btn,
.closer,
.overlay {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white; /* Цвет текста белый */
  font-family: Gotham-bold; /* Жирный шрифт */
  font-size: 16px; /* Размер текста */
  text-decoration: none; /* Убрать подчеркивание */
  border-radius: 5px; /* Закругленные углы */
  margin: 0 10px; /* Отступы между кнопками */
}
/*--- CONTENT ---*/
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.87);
}
.dlg-modal {
  width: 100%;
  max-width: 570px;
  height: 300px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  position: fixed;
  left: 50%;
  z-index: 10;
  padding: 35px 36px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
}
.dlg-modal-fade {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dlg-modal-slide {
  top: -20px;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  visibility: visible;
  opacity: 1;
}
.closer {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url("/assets/img/icons/cross.png") no-repeat;
  cursor: pointer;
}
.closer:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* animation */
.fadeIn,
.fadeOut,
.slideInDown,
.slideOutUp {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  opacity: 1;
  visibility: visible;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  opacity: 0;
  visibility: hidden;
}
@keyframes slideInDown {
  from {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes slideOutUp {
  from {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  to {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
}
.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}
/* Адаптив */
/* Для телефонов */
@media only screen and (max-width: 749px) {
  .nav_bar {
    display: none;
  }
  .header_nav {
    position: relative;
  }
  .header_nav:after {
    content: "\2630"; /* Это символ бургер-меню */
    font-size: 36px;
    position: absolute;
    top: 50%;
    right: -240px;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
  }
  .header_nav ul {
    position: absolute;
    top: 50px;
    right: -210px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 999;
  }
  .header_nav:active ul {
    display: block;
  }
  .logo {
    width: 150px;
  }
  .banner_content {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px; /* Уменьшаем отступы */
  }
  .banner_text h1 {
    font-size: 14px; /* Уменьшаем размер шрифта */
  }
  .banner_text p {
    font-size: 10px; /* Уменьшаем размер шрифта */
  }
  .banner_image img {
    width: 100%;
    height: auto;
  }
  .services_title {
    font-size: 20px; /* Уменьшаем размер шрифта */
  }
  .services_content {
    grid-template-columns: 1fr;
  }
  .services_nav__block {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 80%;
  }
  .content {
    width: 100%;
  }
  .address_nav__block {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  iframe {
    width: 500px;
    height: 250px;
  }
}
/* Для планшетов */
@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .logo {
    width: 180px;
    height: 80px;
    margin-left: 25px;
  }
  .header_nav {
    left: 29%;
  }
  .header_nav ul {
    font-size: 20px;
  }
  .nav_bar {
    font-size: 16px;
  }
  .banner_content {
    grid-template-columns: 1fr 1fr;
  }
  .banner_text h1 {
    font-size: 20px;
  }
  .banner_text p {
    font-size: 16px;
  }
  .banner_image img {
    width: 100%;
    height: auto;
  }
  .services_title {
    font-size: 35px;
  }
  .search_field input {
    width: 250px;
  }
  .services_content {
    grid-template-columns: 1fr 1fr;
  }
  .services_button {
    height: 24px;
  }
  .address_button {
    padding: 0 0.6rem;
    height: 24px;
  }
}
/* Для компьютеров */
@media only screen and (min-width: 1025px) {
  .header_nav {
    left: 34%;
  }
  .header_nav ul {
    font-size: 26px;
  }
  .banner_content {
    grid-template-columns: 300px 400px;
  }
  .banner_text h1 {
    font-size: 22px;
  }
  .banner_text p {
    font-size: 18px;
  }
  .banner_image img {
    width: 300px;
    height: 360px;
  }
  .services_title {
    font-size: 40px;
  }
  .search_field input {
    width: 300px;
  }
  .services_content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .content {
    width: 330px;
  }
}