/* Всплывающее окно */
/* transition */
.btn,
.closer,
.overlay {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white; /* Цвет текста белый */
  font-family: Gotham-bold; /* Жирный шрифт */
  font-size: 16px; /* Размер текста */
  text-decoration: none; /* Убрать подчеркивание */
  border-radius: 5px; /* Закругленные углы */
  margin: 0 10px; /* Отступы между кнопками */
}
/*--- CONTENT ---*/
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.87);
}
.dlg-modal {
  width: 100%;
  max-width: 570px;
  height: 300px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  position: fixed;
  left: 50%;
  z-index: 10;
  padding: 35px 36px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
}
.dlg-modal-fade {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dlg-modal-slide {
  top: -20px;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  visibility: visible;
  opacity: 1;
}
.closer {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url("/assets/img/icons/cross.png") no-repeat;
  cursor: pointer;
}
.closer:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* animation */
.fadeIn,
.fadeOut,
.slideInDown,
.slideOutUp {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  opacity: 1;
  visibility: visible;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  opacity: 0;
  visibility: hidden;
}
@keyframes slideInDown {
  from {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes slideOutUp {
  from {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  to {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
}
.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}
